<div class="search" ng-init="init()">
  <div class="title">
    <a ng-href="/">
      <img class="logo" src="images/logo.png">
    </a>
  </div>
  <div class="description">
    StyleMe is an online style finder! Search for clothing in your favourite style
    and the Style Selecting algorithm will find you clothes that you will love!
  </div>
  <div class="tabs">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li id="womensTab" class="active tab"><a id="womensClick" href="#womens" data-toggle="tab">Womens</a></li>
      <li id="mensTab" class="tab"><a id="mensClick" href="#mens" data-toggle="tab">Mens</a></li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="womens">
      <form class="form-horizontal" role="form">
        <div class="user-input">
          <div class=line>I'm looking for
            <select ng-model="style" ng-options="style.name for style in WomensStyles" ng-change="selectWomensStyle(style.name)">
              <option class='test' value=''>Select a style</option>
            </select>
          </div>
          <div class="container">
            <div class="line2">
              <div class="tags-ctn" id="left">
                <tags-input ng-model="womensTypes" display-property="name" placeholder="Add a clothing type"
                  replace-spaces-with-dashes="false" template="tag-template" allow-leftover-text="false" add-on-blur="false" add-from-autocomplete-only="true">
                  <auto-complete source="loadTags($query, 'womensClothing.json')" min-length="0"
                  load-on-focus="true" load-on-empty="true" max-results-to-show="50" template="autocomplete-template">
                </auto-complete>
              </tags-input>
            </div>
            <span id="in">in</span>
            <div class="tags-ctn" id="right">
              <tags-input ng-model="womensColours" display-property="name" placeholder="Add a colour"
                replace-spaces-with-dashes="false" template="tag-template" add-from-autocomplete-only="true">
                <auto-complete source="loadTags($query, 'colours.json')" min-length="0"
                  load-on-focus="true" load-on-empty=true max-results-to-show="50" template="autocomplete-template">
                </auto-complete>
              </tags-input>
            </div>
          </div>
          <div class="range_submit">
            <div class="price_range">
              <div class="price_range_text">
                from  € <strong>{{slider.minPrice}}</strong> to € <strong>{{slider.maxPrice}}</strong>
              </div>
              <rzslider class="rzslider" rz-slider-model="slider.minPrice" rz-slider-high="slider.maxPrice"
                rz-slider-options="slider.options"></rzslider>
            </div>
            <div class = "submitBtn">
                <button type="button" ng-click="submit('womens')" class="btn btn-lg button">Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="tab-pane" id="mens">
    <form class="form-horizontal" role="form">
      <div class="user-input">
        <div class=line>I'm looking for
          <select ng-model="style" ng-options="style.name for style in MensStyles" ng-change="selectMensStyle(style.name)">
            <option class='test' value=''>Select a style</option>
          </select>
        </div>
        <div class="container">
          <div class="line2">
            <div class="tags-ctn" id="left">
              <tags-input ng-model="mensTypes" display-property="name" placeholder="Add a clothing type"
                replace-spaces-with-dashes="false" template="tag-template" add-from-autocomplete-only="true">
                <auto-complete source="loadTags($query, 'mensClothing.json')" min-length="0"
                load-on-focus="true" max-results-to-show="50" template="autocomplete-template">
              </auto-complete>
            </tags-input>
          </div>
          <span id="in">in</span>
          <div class="tags-ctn" id="right">
            <tags-input ng-model="mensColours" display-property="name" placeholder="Add a colour"
              replace-spaces-with-dashes="false" template="tag-template" add-from-autocomplete-only="true">
              <auto-complete source="loadTags($query, 'colours.json')" min-length="0"
                load-on-focus="true" load-on-empty=true max-results-to-show="50" template="autocomplete-template">
              </auto-complete>
            </tags-input>
          </div>
        </div>
        <div class="range_submit">
          <div class="price_range">
            <div class="price_range_text">
              from  € <strong>{{slider.minPrice}}</strong> to € <strong>{{slider.maxPrice}}</strong>
            </div>
            <rzslider class="rzslider" rz-slider-model="slider.minPrice" rz-slider-high="slider.maxPrice"
              rz-slider-options="slider.options"></rzslider>
          </div>
          <div class = "submitBtn">
              <button type="button" ng-click="submit('mens')" class="btn btn-lg button">Search</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>
<script type="text/ng-template" id="tag-template">
  <div class="tag-template">
        <div class="left-panel">
          <img ng-src="images/{{data.image}}" ng-if="data.image"/>
        </div>
        <div class="right-panel">
          <span>{{$getDisplayText()}}</span>
          <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="autocomplete-template">
      <div class="autocomplete-template">
        <div class="left-panel">
          <img ng-src="images/{{data.image}}" />
        </div>
        <div class="right-panel">
          <span ng-bind-html="$highlight($getDisplayText())"></span>
        </div>
      </div>
      </script>
</div>
<!--div class="footer">
  <div class="footer_desc1">
    StyleMe performs natural language processing on Style Blogs to determine words associated with styles.<br>
    Utilizing this enables the Style Selector algorithm to determine the style of a clothing item. <br>
    StyleMe also learns from you after every use! <br>
    By "rating" a clothing item if you think its relevant to the style,
    or "hating" it if its not, the algorithm is constantly improving your help!
    </div>
    <div class="footer_desc2">
      <StyleMe is the Final Year Project of 4th year Computer Applications student Eibhlín McGeady.>
      <div class="contact">
        <u>Get in Touch!</u>
        <div class="">
        <form class="form-horizontal ng-pristine ng-valid" role="form" action="scripts/services/mail.php" method="post">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Name" name="name" id="name" title="Your Name" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="email" placeholder="Email" name="email" id="email" title="Your Email" required>
          </div>
          <div class="form-group">
            <textarea rows="4" cols="50" class="form-control" type="test" placeholder="Message" name="message" id="message" title="Your Message" required></textarea>
          </div>
          <button class="btn btn-send" value="submit" name="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</div-->
