html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #CECFCE;
  font-family:'Quicksand', sans-serif;
  font-weight: 400;
}
b {
  font-weight: 900;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #B58AA5;
}
.header {
  height: 100vh;
  max-height: 800px;
}
.header h1 {
  font-family:'Quicksand', sans-serif;
  font-size: 90px;
  font-weight: bold;
  margin: 25px 0 0 0;
}

.logo {
  width: 15%;
  height: 15%;
  background-color: #CECFCE;
  margin-bottom: -5%;
  margin-top: 2%;
}

.title {
  font-family:'Quicksand', sans-serif;
  font-weight: bold;
  color: #84596b;
  margin-bottom: 0;
  padding: 2% 0%;
  text-align: center;
  margin: auto;
}

.search {
  min-height:100%;
  position: relative;
}

.button:hover, .selectedBtn  {
  color: #84596b;
  border: 2px solid #84596b;
}

.selectedStyle  {
  background-color: #84596b;
  color: #fff;
}

.selectedStyle:hover {
  background-color: #84596b;
  color: #fff;
}

.button:focus, button:active, .unselected, .sendBtn {
  background-color: #fff;
  color: #000;
}

.user-input,.styles, .types, .price, .colours, .submitBtn {
  text-align: center;
  color: #000;
  background-color: #CECFCE;
  width: 90%;
  margin:auto;
  padding: 5% 0%;
}
.styles h1, .types h1, .price h1, .colours h1 {
  text-align: center;
  font-family:'Quicksand', sans-serif;
  font-size: 30px;
  color: #84596b;
}

.styles ul{
  list-style: none;
  margin-right: 3%;
}

.styles li{
  margin-top: 2%;
  margin-right: 1%;
  margin-left: 1%;
  display: inline-block;
}

.list {
  margin-left: 15%;
}

.list ul li{
  width: 33%;
  float: left;
  text-align: left;
  list-style-type: none;
}

.clothing-image, .clothing-image-modal {
    width: 200px;
    height: 300px;
    border: solid 2px #84596b;
}
.result-image:hover {
    border-color: #ffffff;
}
.clothing-list { color: #000000 !important; }
.clothing-display {  padding-top: 10%; }
.clothing-item {
  width: 30%;
  padding-left: 5%;
  float: left;
  text-align: center;
  list-style-type: none;
  color: #000000 !important;
  font-size: 17px;
  height: 500px;
}

.span3 {
  width: 100%;
}

.item-name {
  display: block;
}

a.modal-link {
  color: #000;
}

a.modal-link:hover {
  color: #84596b;
}

.modal-dialog {
  border:2px solid #84596b;
  z-index: 1040;
}

.modal-btn {
  margin-left: 15%;
  margin-top: 5%;
}

.close span {
  color: #84596b;
}

a.link {
  color:#000 !important;
}

a.link:hover {
  color: #84596b;
  border:2px solid #84596b;
}

.modal-image {
  float: left;
  margin-right: 20px;
}
.modal-details {
  overflow: hidden;
  min-width: 30%;
}

img.loading-gif {
  margin-top: 15%;
  border: solid 2px #84596b;
}

.loading {
  background-color: #CECFCE;
}

.returnBtn, .loadMoreBtn, .continueBtn {
   padding-bottom: 80px;
   text-align:center;
   margin-left: 40%;
   margin-right: 40%;
}

.empty {
  text-align: center;
  padding-bottom: 10%;
  padding-top: 5%;
}

.user-input {
  font-family:'Quicksand', sans-serif;
  font-size: 30px;
  color: #84596b;
}

.description {
  text-align: center;
  width: 80%;
  font-family:'Quicksand', sans-serif;
  font-size: 20px;
  color: #000;
  padding: 7% 5% 0% 25%;
  margin-bottom: -6%;
}

.tabs {
  padding-top: 10%;
  border-bottom: 1px solid #84596b;
}

.nav-tabs > li {
  float:none;
  display:inline-block;
  color: #84596b;
  margin-bottom: -2px;
  width: 30%;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #84596b;
  border-bottom: none;
  background-color: #CECFCE;
  color: #84596b;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background-color: #84596b;
  color: #ffffff;
  border-style: none;
  border-width: 0;
}

.nav-tabs {
    text-align:center;
}

.line {
  padding-top: 5%;
  padding-bottom: 5%;
}

.line2 {
  postion: relative;
  padding-bottom: 30%;
}

#left {
  float: left;
  width: 49%;
  padding-left: 14%;
  padding-right: 5%;
}

#left, #right {
  overflow: hidden;
  font-size: 30px;
  position: relative;
  padding-bottom: 30%;
}

#right {
  padding-left: 5%;
  width: 35%;
}

#in {
  float:left;
}

.range_submit{
  width: 75%;
  padding-left: 25%;
  font-size: 30px;
  postion: absolute;
  margin-top: -55%;
  float: left;
}

.price_range_text {
  padding-bottom:2%;
}

.submitBtn {
  postion: absolute;
  margin-top: 10%;
  float: left;
  padding-left: 10%;
}

.loveHateBtn {
  height: 12%;
}

.loveHateBtn:hover {
  height: 14%;
}

.moreLessLikeBtn {
  color: #84596B;
}

.footer {
  width:100%;
  height: 200px;
  position:relative;
  bottom:0;
  left:0;
  background-color:  #84596b;
  color: #ffffff;
  text-align: center;
  font-size: 120%;
}

.footer-search {
  margin-top: -200px;
}

.footer_desc1 {
  background-color: #84596b;
  padding: 1% 5% 4% 5%;
  position: absolute;
  top:0;
}

.footer_desc2 {
  text-align: left;
  width: 40%;
  position: absolute;
  left: 10px;
  margin-top: 5%;
}

.links > tbody > tr > td {
  width: 20%;
}

.links > tbody > tr > td > a {
  font-size: 140%;
  color: #fff;
  text-decoration: none;
}

.links > tbody > tr > td > a:hover, .links > tbody > tr > td > a:active, .contact:hover, .contact:active {
  text-decoration: underline;
}

.footer_desc3 {
  text-align: right;
  width: 50%;
  position: absolute;
  right: 10px;
  float: right;
  margin-top: 5%;
}

.footer_desc3 > a {
  color: #fff;
}

.contactModalHeader {
  text-align: left;
  color: #84596b;
}

.form-group {
  border: solid 1px #84596b;
}

@media (max-width: 991px) {

  .price_range_text { font-size: 80%; }
  .logo { width: 20%; height: 20%; }
}
@media (max-width: 891px) { .moreLessLikeBtn { margin-bottom: 5%; width: 100%;} }
@media (max-width: 800px) { .returnBtn { margin-left: 36%; } .loadMoreBtn { margin-left: 36% } }
@media (max-width: 767px) { .footer-search { margin-top: 0px; } }
@media (max-width: 700px) { .clothing-image { width: 100%; height: 40%; } .loadMoreBtn { margin-left: 39% } }
@media (max-width: 590px) { .continueBtn { margin-left: 30%; } }
@media (max-width: 550px) { .returnBtn { margin-left: 30%; } .loadMoreBtn { margin-left: 34% } }
@media (max-width: 539px) { .loveHateBtn { width: 45%;} }
@media (max-width: 450px) { .logo { width: 50%; height: 50%; padding-top: 10%; } .loadMoreBtn { margin-left: 35% } }
@media (max-width: 439px) { .loading-gif { width: 70%; height: 50% } }
@media (max-width: 362px) { .footer { height: 250px; } }
@media (max-width: 360px) {
  .submitBtn { padding-left: 0%; }
  .moreLessLikeBtn { font-size: 50%; }
  .returnBtn { margin-left: 20%; }
  .loadMoreBtn { margin-left: 27% }
}
@media (max-width: 341px) { .footer { height: 250px; } }


.tag-template .left-panel {
  float: left;
}
.tag-template .left-panel img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-top: -4px;
}
.tag-template .right-panel {
  float: left;
  margin-left: 5px;
}
.autocomplete-template .left-panel {
  float: left;
}
.autocomplete-template .left-panel img {
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

.autocomplete-template .right-panel {
  float: left;
  margin-left: 5px;
  margin-top: 7px;
}
.autocomplete-template .right-panel span:first-child {
  font-size: 16px;
}
.autocomplete-template .right-panel span:nth-child(2) {
  font-size: 14px;
  color: gray;
}
.autocomplete-template .right-panel span:last-child {
  display: block;
  font-size: 14px;
  font-style: italic;
}
